@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Changa:wght@200;300;400;500;600;700;800&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Changa";
  color: #333;
}

/* home */
.home h1 {
  font-family: "Changa";
  color: black;
  font-size: 100px;
}

.home h2 {
  font-family: "Alice";
  font-size: 40px;
}

.home button {
  background: black;
  color: #fff;
  font-size: 25px;
  border: 0;
  padding: 15px 50px 15px 50px;
  margin: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

.login h2 {
  font-family: "Alice";
  font-size: 40px;
}

.login p {
  padding: 0px;
}

.login form {
  padding: 50px;
}

.vibe h1 {
  font-family: "Changa";
  font-size: 40px;
}

.vibe h2 {
  font-family: "Alice";
  font-size: 24px;
  margin-bottom: -15px;
}

.vibe form {
  padding: 20px 0px ;
}


.vibe p {
  font-family: "Alice";
  font-size: 18px;
  color: gray;
  margin-top: -10px;
}

.vibe button {
  display: block;
  margin: 20px 0px;
}

.vibe-preview {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 175px;
}

.vibe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.vibe-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.vibe-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.vibe-preview a {
  text-decoration: none;
}

/* blog details page */
.vibe-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.vibe-details div {
  margin: 20px 0;
}

.vibe-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new vibe form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}